<div class="header">LEVEL UP</div>

<div class="grid-container">
  <mat-card *ngFor="let developer of developers" class="section">
    <div class="card-header">
      <div class="dev-name">{{developer.name}}</div>
      <div class="dev-count">{{developer.count}}</div>
    </div>


    <div class="card-padding">
      <div class="repo-row">REPO: <a href="{{developer.repo}}" class="info repo">{{developer.repo}}</a></div>

      <div>
        PROJECTS:
        <div class="projects">
          <div class="project" *ngFor="let project of developer.projects">
            <span class="project-title">{{project.name}}: </span> <a href="{{project.url}}">{{project.url}}</a></div>
          </div>
      </div>
    </div>
  </mat-card>
</div>
