@import url('https://fonts.googleapis.com/css?family=Oswald:300,700');

* {
  font-family: 'Oswald', sans-serif;
}

body {
  background: -webkit-linear-gradient(150deg, hsl(0, 0%, 96%) 35%, hsl(0, 0%, 94%) 35%) no-repeat fixed;
}

mat-card {
  background-color: white;
  padding: 0 !important;
}

html {
  height: 100%;
}

.section {
  width: 30%;
  max-height: 500px;
  overflow: scroll;
  margin: 15px auto 15px auto;
}

.header {
  color: #3ddb7c;
  font-size: 50px;
  font-weight: bold;
}

.dev-count {
  border: 1px solid white;
  border-radius: 20px;
  width: 40px;
  text-align: center;
}

.card-header {
  color: #666666;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  font-weight: bold;
  background-color: #d9d9d9;
  border-bottom: 2px solid #61E294;
  font-size: 27px;
  padding: 20px 20px 10px 20px;
}
